.hero {
  min-height: 950px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/jpg/hero_home_bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_wrapper {
  padding-inline: 1.25rem;
}
