.select {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.select_control {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--light-gray);
  padding: 12.5px;
  border-radius: 10px;
}

.select_selected {
  flex-grow: 1;
}

.select_dropdown {
  margin-left: 8px;
}

.select_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: var(--dark-gray);
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select_option {
  padding: 10px;
  cursor: pointer;
}

.select_option:hover {
  background-color: #f0f0f0;
}
