.offices {
  padding-block: 50px;
}

.offices_title {
  margin-bottom: 50px;
}

.office_records,
.office_record_map,
.office_record_hub,
.office_record_hub_item {
  display: flex;
}

.office_record_hub,
.office_records {
  flex-direction: column;
}

.office_record {
  padding: 40px;
  border-radius: 20px;
  border: 1px solid var(--light-gray);
}

.office_record_town {
  font-size: 18px;
  margin-bottom: 20px;
}

.office_record_address {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.office_record_map {
  align-items: center;
  gap: 2px;
  margin-bottom: 20px;
  color: var(--cape-verde-green);
}

.office_records {
  gap: 10px;
}

.office_record_hub {
  gap: 20px;
}

.office_record_hub_item {
  align-items: center;
  gap: 5px;
}

.office_record_hub_item p {
  color: var(--cape-verde-green);
}

@media only screen and (min-width:767px) {
  .office_records {
    flex-direction: row;
    justify-content: space-between;
  }
}