.row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.filters_one,
.filters_two {
  margin-bottom: 0.7rem;
}

@media only screen and (min-width: 481px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}
