.faq {
  padding-block: 5rem;
  border-radius: 0px 0px 50px 50px;
  background-color: var(--white);
}

.faq_header {
  text-align: center;
  margin-bottom: 3.125rem;
}

.records {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 900px;
  margin: 0 auto;
}

.record {
  padding: 1.8rem 2.5rem;
  border-radius: 10px;
  color: var(--dark-gray);
  background-color: var(--section-bg);
  transition: all ease-in-out 0.5s;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.question > h5 {
  font-size: 22px;
}
