.content_banner {
  border-radius: 10px 10px 0px 0px;
}

.content_info {
  width: 100%;
  padding: 1.875rem 1.25rem;
  background-color: var(--section-bg);
}

.content_info_header {
  margin-bottom: 1.25rem;
}

.content_info_desc {
  font-size: 14px;
  margin-bottom: 3.125rem;
}

.records {
  margin-bottom: 2.5rem;
}

.record {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.records .record:nth-child(3) {
  margin-bottom: 0;
}

.record_icon {
  display: flex;
  padding: 0.3rem;
  border-radius: 50px;
  color: var(--white);
  background-color: var(--cape-verde-green);
}

.content_info_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 200px;
  min-height: 60px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--cape-verde-green);
}

.content_info_btn:hover {
  color: var(--cape-verde-green);
  background-color: var(--white);
}

@media only screen and (min-width: 767px) {
  .content {
    display: flex;
  }

  .content_banner {
    border-radius: 10px 0 0 10px;
    max-width: 350px;
  }

  .content_info { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
    border-radius: 0 10px 10px 0;
  }

  .content_info_wrapper {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .content_banner {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1280px) {
  .content_banner {
    max-width: 650px;
  }
}
