.hero {
  display: flex;
  align-items: center;
  height: 220px;
  background-color: var(--white);
}

.hero_pages {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.hero_pages > li,
.hero_pages > li > a {
  font-size: 14px;
}

.hero_pages > li > a {
  padding: 0.3rem 0.5rem;
  color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--cape-verde-green);
  background-color: var(--cape-verde-green);
}

.hero_pages li:nth-child(2)::before {
  margin-inline: 0.5rem;
  content: "/";
}
