.auth {
  padding-block: 80px;
  background-color: var(--white);
  border-radius: 50px;
}

.auth_wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding-inline: 20px;
}

.auth_container {
  padding-top: 2rem;
}