.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  text-transform: uppercase;
}

.title p {
  max-width: 380px;
  margin: 0 auto;
  padding-block: 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  color: var(--light-gray);
  background-color: var(--cape-verde-green);
}

.title h1 {
  color: var(--white);
}
