.features p {
  font-size: 18px;
  margin-block: 2rem 1rem;
}

.features_records {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

@media only screen and (min-width: 481px) {
  .features_records {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 767px) {
  .features_records {
    grid-template-columns: repeat(4, 1fr);
  }
}
