.card_details,
.card_details_btn {
  display: flex;
  align-items: center;
}

.card_details {
  justify-content: space-between;
}

.card_details_btn {
  font-size: 16px;
  color: var(--cape-verde-green);
}
