.premium_brands {
  padding-block: 8rem;
  background-color: var(--section-bg);
}

.premium_records,
.premium_record,
.premium_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.premium_records {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.premium_record {
  justify-content: center;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  padding: 2.5rem;
  text-align: center;
  border-radius: 20px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  transition: all ease-in-out 0.5s;
}

.premium_link {
  flex-direction: column;
}

.premium_record:hover {
  color: var(--cape-verde-green);
  border: 1px solid var(--cape-verde-green);
}

.premium_banner {
  width: 60px;
  margin-bottom: 1.25rem;
}

.record_brand:hover {
  color: var(--cape-verde-green);
  transition: all ease-in-out 0.5s;
}

@media only screen and (min-width: 767px) {
  .premium_record {
    max-width: 210px;
  }
}
