.subscribe {
  padding-top: 3.5rem;
  background-color: var(--hunter-green);
}

.subscribe_content {
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 3rem;
}

.subscribe_text {
  color: var(--white);
  margin-bottom: 2rem;
  text-align: center;
}

.subscribe_text h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.subscribe_field {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
}

.subscribe_field input {
  outline: none;
  width: 100%;
  padding: 25px;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 0.5rem;
  color: var(--black);
  background-color: var(--light-gray);
}

.subscribe_field button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 50px;
  color: var(--white);
  background-color: var(--cape-verde-green);
}
