.sliders {
  display: grid;
  grid-template-columns: repeat(1, minmax(235px, 250px));
  justify-items: start;
  gap: 10px;
}

@media only screen and (min-width: 481px) {
  .sliders {
    grid-template-columns: repeat(2, minmax(200px, 300px));
  }
}

@media only screen and (min-width: 767px) {
  .sliders {
    grid-template-columns: repeat(3, minmax(200px, 300px));
  }
}
