.nav_links,
.nav_link {
  display: flex;
}

.nav_links {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999;
  width: 100%;
  max-width: 220px;
  height: 854vh;
  padding: 1.875rem;
  background-color: var(--cape-verde-green);
  transition: all ease-in-out 0.5s;
  flex-direction: column;
  gap: 2rem;
}

.active {
  left: 0;
}

.nav_link {
  align-items: center;
  gap: 0.25rem;
  color: var(--white);
}

.nav_link {
  cursor: pointer;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
}

.nav_link:hover {
  background-color: var(--hunter-green);
}

.nav_link p {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 16px;
}

.nav_btn {
  border-radius: 50px;
}

@media only screen and (min-width: 481px) {
  .nav_links {
    max-width: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .nav_links {
    all: unset;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .nav_link {
    padding: 0;
  }

  .nav_link:hover {
    color: var(--light-gray);
    background-color: transparent;
  }
}
