.blog {
  padding-block: 6rem;
  background-color: var(--white);
}

.blog_cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

@media only screen and (min-width: 481px) {
  .blog_cards {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media only screen and (min-width: 767px) {
  .blog_cards {
    grid-template-columns: repeat(3, 3fr);
  }
}
