.preview_label,
.preview_fields {
  display: flex;
  align-items: center;
}

.preview_label {
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.preview_label p {
  font-size: 10px;
  color: var(--cape-verde-green);
  text-transform: uppercase;
}

.preview_fields {
  column-gap: 5px;
}

.preview_input {
  outline: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: var(--dark-gray);
  border: 1px solid var(--light-gray);
  background-color: var(--width);
}
