.listing {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 25px;
}

@media only screen and (min-width: 550px) {
  .listing {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media only screen and (min-width: 1024px) {
  .listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1281px) {
  .listing {
    grid-template-columns: repeat(4, 1fr);
  }
}
