.types {
  padding-block: 6rem;
}

.types_records {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--light-gray);
}

.types_link {
  padding-bottom: 0.10rem;
  font-size: 18px;
}

.active {
  border-radius: 2px;
  border-bottom: 2px solid var(--cape-verde-green);
}

.cards_conditions,
.cards_makes {
  display: grid;
  gap: 2rem;
}

@media only screen and (min-width: 767px) {
  .cards_conditions {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .cards_conditions {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1281px) {
  .cards_makes {
    grid-template-columns: repeat(2, 1fr);
  }
}
