.types,
.types_records {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.types {
  flex-direction: column;
}

.types_info {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.types_records {
  flex-wrap: wrap;
  gap: 1rem;
}

.types_record {
  cursor: pointer;
  padding: 0.75rem 1.75rem;
  border-radius: 50px;
  font-size: 14px;
  background-color: rgba(197, 196, 196, 0.325);
  transition: all ease-in-out 0.5s;
}

.types_record:hover {
  background-color: rgba(231, 228, 228, 0.507);
}
