.testimonials {
  padding-block: 5rem;
  background-color: var(--white);
}

.testimonials_wrapper {
  max-width: 1700px;
  margin: 0 auto;
  padding: 7.5rem 1.25rem;
  border-radius: 30px;
  background-color: var(--section-bg);
}

.testimonials_header {
  margin-bottom: 3.75rem;
}

.records {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.record {
  padding: 3.125rem;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.record_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
}

.record_opinion {
  margin-bottom: 1.875rem;
  color: var(--dark-gray);
  font-size: 16px;
}

.record_user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.record_user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

.record_user_info p {
  display: block;
  color: var(--dark-gray);
}

@media only screen and (min-width: 1024px) {
  .records {
    flex-wrap: nowrap;
  }

  .record {
    max-width: 440px;
  }
}
