* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
span,
i {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
  height: 150px;
}

/* textarea,input {
  width: 100%;
} */

select,
button,
a {
  cursor: pointer;
}

button,
i {
  transition: all 0.7s ease-in-out;
}
