.cards_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.field {
  outline: none;
  padding: 15px 20px;
  border: 1px solid var(--light-gray);
}

.label {
  padding-left: 5px;
  padding-bottom: 10px;
  color: var(--dark-gray);
}

.dashboard {
  display: flex;
}

.dashboard_section {
  /* TODO: Make it less for responsive screens */
  padding: 20px;
  width: 100%;
  background-color: var(--white);
}

.vehicle_category {
  padding: 40px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
}

.vehicle_category_title {
  font-size: 1.25rem;
  font-family: var(--font-family-body);
  margin-bottom: 2rem;
}

@media only screen and (min-width: 767px) {
  .dashboard_section {
    padding: 40px;
  }
}
