:root {
  --cape-verde-green: #00574f;
  --hidden-falls-green: #274541;
  --hunter-green: #1c3933;
  --black: #000;
  --white: #fff;
  --light-gray: #f0f0f0;
  --dark-gray: #494848;
  --section-bg: #f9fbfc;

  --font-family-headings: "Oswald", sans-serif;
  --font-family-body: "Poppins", sans-serif;
  --font-family-btns-links: "Lato", sans-serif;

  --font-size-h1: clamp(36px, 6vw, 44px);
  --font-size-h2: clamp(30px, 5vw, 38px);
  --font-size-h3: clamp(24px, 4vw, 32px);
  --font-size-h4: clamp(20px, 3.5vw, 28px);
  --font-size-h5: clamp(18px, 3vw, 24px);

  --font-size-btn: clamp(14px, 2vw, 16px);
  --font-size-body: clamp(16px, 1.5vw, 18px);
  --font-size-a: clamp(16px, 2vw, 19px);
  --font-size-small-text: clamp(12px, 1.5vw, 14px);

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}
